.card {
  width: 200px;
  margin: 20px 0px;
  border:1px solid red;
}
.card_foto img {
  width: 100%;
}
.card {
  position: relative;
}
.card_categ {
  position: absolute;
  top: 0px;
  left: 28px;
  background:#000;
  color:#fff;
}